body{
  margin: 0;
  font-size: 100%;
  font: 1.15em/1.3 'Oxygen','Helvetica',arial,sans-serif;
  font-weight: 300;
  background-color: #3D3824;
}
h1{
  font: 2.5em/1 'Oxygen','Helvetica',arial,sans-serif;
  font-weight: 400;
text-transform: uppercase;
text-align: center;
}
h2{
  font: 1.35em/2 'Oxygen','Helvetica',arial,sans-serif;
  font-weight: 400;
text-align: center;
color: green;
}
nav{
  height: 3em;
  line-height: 2.3em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  display: inline-block;
  width: 100%;
  background: rgba(0, 0, 0,55);
  border: 0;
  font-family: 'Oxygen','Helvetica',arial,sans-serif;
  text-transform: uppercase;
  text-align: center;
  -webkit-transform:translateZ(0);
}
nav.nav_closed{
  overflow: hidden;
}
a#menu {
    float: right;
    border: 1px solid #333;
    color: #FFE3CD;
    width: 4em;
    margin-top: 5px;
    margin-right: 15px;
    font-weight: 300;
    margin-bottom: 6px;
    text-decoration: none;
  }
  a#menu:hover{
    background: rgba(255,255,255,0.4);
    color: #333;
    font-weight: 600;
  }
  ul#navlist {
    clear:right;
    list-style: none;
    font-weight: 300;
text-decoration: none;
    }
nav.nav_closed ul#navlist{
  display: none;

  }
  nav.nav_open{
    overflow: visible;
    background: rgba(0, 0, 0, 0.85);
  }
  nav.nav_open ul#navlist{
    display: block;
    background: rgba(0, 0, 0, 0.85);

}
nav.nav_open a#menu{
  color: #333;
  background: #999;
}
nav u#navlist li a{
  display: block;
  width: 100%;
  height: 100%;
  border-top: 1px #ccc solid;
  color: #FFE3CD;
  text-decoration: none;
}
nav ul#navlist li a:hover{
  background: #009ee6;
  color: #fff;
  text-decoration: none;
}
section{
}
section#page-header {
  height: 100vh;
  width: 100%;
  background: #ccc url("https://static.pexels.com/photos/226365/pexels-photo-226365.jpeg") no-repeat center center;
background-size: cover;
color: #000;
display: table;
}
section#page-header header{
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
section#page-header header h1{
  font-size: 4em;
  font-weight: 400;
  line-height: 1em;
}
section#page-header header h2{
  font-size: 1.45em;
  text-transform: uppercase;
  font-weight: 300;
}
section.page-content div{
  width: 85%;
  max-width: 1024px;
  margin:3em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
}
section.page-content article {
}
section#About div{
  margin-top: 0;
}

section#skills{
background: #0E303B;


}

section#skills li {
  text-align:center;
  width: 100%;


}




section#education{
  background:#28162E;
}
section#experience{
  background:#0E3340;

}

section#contact{
  background: #414B70;


}
.btn-default {
 text-align:center;
 font-size: 6.0em;
 background-color: black;
color: green;
}



 img{
  margin-top: 0;

  background-color: red;
  margin-left: 0x;
  margin-top: 20px;
  height: 200px;
  border-radius: 50%;
}
